.container {

}

.errorContainer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.errorModal {
    width: 65%;
    display: inline-block;
    padding: 10px 30px;
    color: #afafaf;

    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.24);
}

.text {
    /* margin-bottom: 20px; */
    color: brown;
}
