.label {
    margin-top: 55px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #4c6fb6;
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.container {
    margin-top: 30px;
}

.iconContainer{
    width: 100%;
    text-align: center;
}

.userIcon {
    display: inline-block;
    height: 96px;
    width: 96px;
    background-image: url('../../img/userImg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.formSummuryError {
    color: brown;
    border: solid red 2px;
    padding: 5px;
}

.inputContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.inputContainer input {
    width: 60%;
}

.label {
    margin-top: 55px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #4c6fb6;
    width: 100%;
    text-align: center;
    font-size: 22px;
}